.form {
    width: 35rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.form-header {
    text-align: center
}

.form-area {
    margin: 0.85rem 0;
}

.form-input {
    width: 100%;
}

.form-button {
    width: 50%;
    margin: 0.5rem auto;
}

